<% include ../partials/header %>
<% include ../partials/header %>
<h1>IT'S A JOB BOARD CLONE</h1>
<%  users.forEach(function(user) { %>
	<div>
		<h4><a href="/users/<%= user._id %>">
			<%= user.firstName%> <%= user.lastName%>
			</a>
		</h4>
		<p><%= user.description %></p>

		<p>

			<a href="/users/<%= user._id %>"><button class="btn btn-primary">Meet Me</button></a>
		</p>
	<hr>
</div>
<% }) %>
 <a class="btn btn-default" href="/signup">Signup</a>
 <a class="btn btn-default" href="/login">Login</a>
 <a class="btn btn-default" href="/logout">Logout</a>


<% include ../partials/footer %>